extends layout          
block content 
      .container
        .row
          .col-md-1
          
           
            form#largeurs_pinceau
              input#largeur_pinceau(type='range', min='2', max='50', value='5')
              br
          .col-md-11
            canvas#canvas(width='1000px', height='550px')
          //
    
          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title Delete everything
                .modal-body
                  | Are you sure ? It will reset the board for every body !
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') No, I want to go back
                  button.btn.btn-primary(type='button',id="confirm") Yes, I'm pretty sure
             
          