extends layout
block content  
    #whereItHappens
      h1 Hey 
      p theCubeGame is a litle game I made.
      p You may have fun.
      p Enjoy and do not hesitate share this page.
      p the game :
        a(href="thecubegame")  clic here 
      p the author :
        a(href="http://github.com/melki")  @melki
